<div>
    <table class="table table-dark">
        <thead>
            <th scope="col">Atividade</th> 
            <th scope="col">Tipo</th>
            <th scope="col">Participantes</th>
            <th scope="col">Preco</th>
            <th scope="col">Link</th>
            <th scope="col">Chave</th>
            <th scope="col">Acessibilidade</th>
        </thead>
        <tbody>
            <tr>
                <td>{{atividade.activity}}</td>
                <td>{{atividade.type}}</td>
                <td>{{atividade.participants}}</td>
                <td>{{atividade.price}}</td>
                <td>{{atividade.link}}</td>
                <td>{{atividade.key}}</td>
                <td>{{atividade.accessibility}}</td>
            </tr>
        </tbody>
    </table>
  </div>